.App-header, .App-footer {
  background: linear-gradient(70deg,#007FFF,#FF00FF,#FF00FF,#00ff00,#FF8000,#00ff00,#FF00FF, #FF00FF,#007FFF);
 
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: 2px 1px 4px #00ff00;
  font-size: calc(10px + 2vmin);
  color: #007FFF;
  padding:2%
}

.App-link {
  color: #FF8000;
}

nav>* {
  padding: 5px 15px;
  margin: 10px 5px;
  color:  #00ff00;
  
}
h2 {
  text-align: center;
  margin: 30px;
  color: #FF8000;
}
h3{
  color: #FF8000;
}
li{
 margin: 3rem; 
}
ul {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #007FFF;
  list-style-type: none; 
}
header>span{
  color:white;
  font-weight: bolder;
  text-shadow: 2px 1px 4px #00ff00;
}
main{
  padding-bottom:5%;
  padding-top:5%;
  background:linear-gradient(70deg,#00ff00,#00ff00,white,white,white,#00ff00,#00ff00);
}
h4{
  color:white;
}
button{
  background-color: #FF8000;
  color:white;
  border-radius: 10rem;
  border:none;
  box-shadow: 3px 3px 2px#00ff00;
  width:150px;
  font-weight: bolder;
  padding:5px;
  margin: 5px;
 
}
label{
  color:#FF8000;
}
select{
  
  color:#FF8000;
}
form{
 
  display: flex;
  flex-wrap: wrap;
  
  align-items: center;
  padding: 30px;
  min-width: 50%;
}
input{
  margin:5%;
}
.boutonEnvoyer{
  display: flex;
  top: 50%; left: 50%;
}